/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap'); */
.d-block{
    display: block;
}
.blog-thumb {
    height: 240px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 6px 6px 0 0;
}
.ricci-blog-section {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: #040415;
}
.ricci-blog-section .single-item{
    background-color: #f2f2f2;
    border-radius: 6px;
}
.ricci-blog-section .blog-content {
    padding: 25px 20px 26px 20px;
    /* background-color: #fff; */
    border-radius: 0 0 6px 6px;
}
.ricci-blog-section .blog-content a{
    position: relative;
}
.ricci-blog-section .blog-content a img{
    position: absolute;
    right: 0;
    top: 5px;
    max-width: 10px;
}
.ricci-blog-section .blog-content p{
    margin: 0;
}
.blog-meta {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #040415b8;
    margin-bottom: 12px;
    text-transform: capitalize;
}
.blog-meta span:last-child {
    position: relative;
    margin-left: 20px;
}
.blog-meta span:last-child:after {
    position: absolute;
    left: -13px;
    top: 10px;
    width: 5px;
    height: 5px;
    background: #040415b8;
    content: "";
    border-radius: 50%;
}
.ricci-blog-section h2 {
    font-size: 20px;
    line-height: 1.4em;
    margin: 0 30px 10px 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
}
.ricci-blog-section h2, .ricci-blog-section h2 a{
    color: #040415;
}
.ricci-blog-section .redmore{
    color: #040415;
}
.ricci-blog-section .redmore:hover, .ricci-blog-section h2:hover{
    opacity: .7;
}
.ricci-blog-section .redmore img{
    margin-left: 5px;
}
.blog-thumb-wrap{
    overflow: hidden; 
    border-radius: 6px 6px 0 0;  
}
.blog-thumb-wrap .blog-thumb{
    transition: all .5s ease;  
}
.blog-thumb-wrap:hover .blog-thumb{
    transform: scale(1.1);  
}


/* Blog Span CSS */
.ricci-blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


/* page-nav-container  */
.page-nav-container {
    text-align: center;
    margin-top: 50px;
}
.page-nav-container a, .page-nav-container span {
    border: 1px solid #040415;
    background: transparent;
    color: #040415;
    border-radius: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 7px 19px;
    margin: 4px 2px;
}
.page-nav-container a:hover {
    background-color: #040415;
    color: #fff;
}
.page-nav-container span.current {
    background-color: #040415;
    color: #fff;
}



/* featured-posts */
.ricci-blog-section.featured-posts {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}
.ricci-blog-section.featured-posts .single-item:nth-child(1) {
    grid-row: 1 / span 2;
    height: 430px;
    display: block;
}
.ricci-blog-section.featured-posts .single-item:nth-child(1) .blog-thumb-wrap,
.ricci-blog-section.featured-posts .single-item:nth-child(1) .blog-thumb-wrap .blog-thumb{
    height: 250px;
    border-radius: 6px 6px 0 0;
}
.ricci-blog-section.featured-posts .single-item:nth-child(1){
    border-radius: 6px;
}
.ricci-blog-section.featured-posts .single-item {
    height: 200px;
    display: flex;
}

.ricci-blog-section.featured-posts .blog-content{
    padding: 20px 20px 20px 20px;
}

.ricci-blog-section.featured-posts .single-item .blog-thumb-wrap {
    flex-basis: 50%;
    border-radius: 6px 0 0 6px;
}
.ricci-blog-section.featured-posts .single-item .blog-content {
    flex-basis: 50%;
    font-size: 15px;
}
.ricci-blog-section.featured-posts .single-item:nth-child(1) .blog-content a img{
    max-width: 13px;
}
.ricci-blog-section.featured-posts .single-item .blog-thumb-wrap .blog-thumb {
    border-radius: 6px 0 0 6px;
    height: 200px;
}
.ricci-blog-section.featured-posts .blog-content h2 {
    font-size: 16px;
    font-weight: 600;
}
.ricci-blog-section.featured-posts .single-item:nth-child(2) p,
.ricci-blog-section.featured-posts .single-item:nth-child(3) p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}


/* Responsive CSS */
@media (min-width:769px) and (max-width:1024px) {
    .blog-meta {
        display: block;
    }

    .ricci-blog-section.featured-posts .single-item .blog-content {
        flex-basis: 54%;
    }
    .ricci-blog-section.featured-posts .single-item .blog-thumb-wrap {
        flex-basis: 46%;
    }
    
}

/* max-width:575px */
@media (max-width:768px) {
    .ricci-blog-section {
        grid-template-columns: repeat(1, 1fr);
    }
    .ricci-blog-section.featured-posts {
        grid-template-columns: auto;
    }
    .ricci-blog-section.featured-posts .single-item:nth-child(1),
    .ricci-blog-section.featured-posts .single-item{
        height: auto;
    }
    .ricci-blog-section.featured-posts .single-item {
        display: block;
    }
    .ricci-blog-section.featured-posts .single-item:nth-child(1) .blog-thumb-wrap, .ricci-blog-section.featured-posts .single-item:nth-child(1) .blog-thumb-wrap .blog-thumb {
        height: 200px;
    }



    
}





.single-portfolio-item {
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    float: left;
}
.ricci-blog-section.filter-posts {
    display: block;
}